body{
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.how-to{
    text-align: center;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
p{
    font-size: 5vh;
}
.frist-p{
    border: 3px solid black;
    border-radius: 50%;
}
p img{
    height: 50px;
}
.second-p{
    background-color: rgb(172, 172, 172);
}
.first-p{
    background-color: rgb(172, 172, 172);
}